:root {
  --knister-background-color: #232528;
  --knister-text-color: #eee;

  --knister-primary-color: #b51432;
  --knister-primary-color-hs: 349, 80%;
  --knister-primary-color-light: 39%;
  --knister-primary-color-hsl: var(--knister-primary-color-hs),
    var(--knister-primary-color-light);
  --knister-primary-color-rgb: 181, 20, 50;
}

html {
  font-size: 62.5%;
  height: 100%;
}

body {
  color: var(--knister-text-color);
  font-size: 2rem;
  line-height: 1.4;
  font-family: 'Poppins', Arial, Tahoma, Verdana, Helvetica, sans-serif;
  background: var(--knister-background-color);
  -webkit-font-smoothing: antialiased;
  text-rendering: geometricPrecision;
  min-height: 100%;
}

a {
  color: var(--knister-primary-color);
}

.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
